# ignore virtualenv
.venv/

# ignore everything…
*
# …except this file
!.gitignore
# …and your documentation, agent code folder and requirements
!DOCUMENTATION.md
!README.md
!multi_tool_agent/
!multi_tool_agent/**
!requirements/
# ignore environment file
multi_tool_agent/.env
